Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb

! ======= colors ==========

!! Special
*.foreground: #cecccf
*.background: #0b0e16
*.cursorColor: #d8dee9


! black
*.color0:   #FFFFFF
*.color8:   #4F5B66

! red
*.color1:   #E06C75
*.color9:   #E06C75

! green
*.color2:   #99C794
*.color10:  #00ad4a

! yellow
*.color3:   #FAC863
*.color11:  #FAC863

! blue
*.color4:  #6699CC
*.color12:  #6699CC

! magenta
*.color5:  #00ad4a
*.color13:  #00ad4a

! cyan
*.color6:  #3ea0a0
*.color14:  #297e7e

! white
*.color7:   #A7ADBA
*.color15:  #D8DEE9

! ===== urxvt =====

URxvt.perl-ext-common: default,matcher,resize-font

URxvt*font: xft:Mono:size=11:antialias=true
URxvt.letterSpace: 0
URxvt.scrollBar: off
URxvt.internalBorder: 20

!! Copy/paste
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

!! Clickable urls
URxvt.url-launcher: firefox
URxvt.matcher.button: 1


!! Change font size [urxvt-resize-font-git]
URxvt.keysym.Control-minus:     resize-font:smaller
URxvt.keysym.Control-plus:      resize-font:bigger
URxvt.keysym.Control-equal:     resize-font:reset

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false



urxvt*transparent: true
urxvt*shading: 12
