! Run ‘xrdb ~/.Xresources’ to properly re-read this file. Check with ‘xrdb -query’


*.foreground:  #FFFFFF

!!  Xft settings
!
! There are three sources which can affect /how/ you see the text on the screen,
! in the order of ability to ignore the others, from top to bottom:
! - Symlinks in /etc/fonts/conf.d/.
! - ~/.config/fontconfig/conf.d/.
!   (if 50-user is enabled in conf.d)
!     Some programs, like font-manager, can change
!     options there. For example, if you enable autohinting there, your fonts
!     will be thicker than usual, but that autohinting couldn’t be seen
!     via `xrdb -query`(!).
! - /etc/fonts/local.conf (if 51-local is enabled in conf.d)
! - Settings in ~/.Xresources.

! Antialiasing fonts: 0 – no, 1 – yes, -1 is default.
! My advice: 1. Or have guaranteed jagged lines.

Xft.antialias: 1

! Autohinting is an old option incompatible with Xft.hintstyle.
! My advice: 0. It only makes everything thick.

Xft.autohint: 0

! Subpixel hinting: 0 – no, 1 – yes, -1 is default.
! My advice: of course, yes.

Xft.hinting: 1

! Subpixel hinting type: hintnone, hintslight, hintmedium, or hintfull.

Xft.hintstyle: hintfull

! Subpixel antialiasing:
! none, rgb, bgr, vrgb, vbgr.
!
Xft.rgba: rgb

! lcdnone, lcdlight, lcddefault, lcdlegacy
! http://www.spasche.net/files/lcdfiltering/
!
Xft.lcdfilter: lcddefault

! Resolution for Xft, in 1024×dots/inch. -1 to use default value.
!
Xft.dpi: 101


Gtk.CanChangeAccels: true


!--- Terminal settings
!
!termName rxvt-unicode
!modifier: alt, meta, hyper, super, mod1, mod2, mod3, mod4, mod5;
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.scrollWithBuffer: false
URxvt.loginShell: false
URxvt.saveLines: 3000
!
!-- Look and feel
!
!! Scroll inside of secondary screen, less etc.
URxvt.preeditType:		Root
URxvt.secondaryScreen:	true
URxvt.secondaryScroll:	false
URxvt.secondaryWheel:	true
URxvt.cursorUnderline:	false

! NB the commas between fonts
! :antialias=true :autohint=true may help, if something.
!URxvt.font: xft:DejaVu Sans Mono,\
!            xft:Terminus
!URxvt.font: xft:Terminus:pixelsize:11,\
!            xft:Kelvinch,\
!            xft:DejaVu Sans Mono, \
!            xft:Roboto:pixelsize:3
URxvt.font: xft:Monospace:pixelsize 30

!URxvt.italicFont:        xft:Bitstream Vera Sans Mono:italic:autohint=true
!URxvt.boldItalicFont:    xft:Bitstream Vera Sans Mono:bold:italic:autohint=true
URxvt.transparent: true
URxvt.borderless: true
URxvt.shading: 35
URxvt.urgentOnBell: true
!!                                                    scrollbar related stuff
URxvt.scrollBar_right:	true
URxvt.scrollBar: false
URxvt.scrollstyle:		plain
URxvt.fading:			20
!URxvt.thickness:		10
!
!-- Perl stuff: URL matching etc.
!
!! These characters are used as delimiters for double-click word selection
!! by default, but may be overriden
URxvt.cutchars: `\\^""''&()*,;<=>?@[]{|}.:+-
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: xdg-open
URxvt.underlineURLs: true
URxvt.imLocale: ja_JP.UTF-8
!URxvt.preeditType: OnTheSpot,None
! NB: 2 = middle mouse button (that will run urls instead of selecting text)
URxvt.matcher.button: 2
!selection.pattern-0: ( at .*? line \\d+)
!selection.pattern-1: ^(/[^:]+):\
!selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/:e \\Q$1\\E\\x0d:$2\\x0d/
!selection-autotransform.1: s/^ at (.*?) line (\\d+)$/:e \\Q$1\\E\\x0d:$2\\x0d/
!
!-- Colors
!
!!		black
URxvt.color0:	#000000
URxvt.color8:	#555753
!!		red
URxvt.color1:	#CC0000
URxvt.color9:	#EF2929
!!		green
URxvt.color2:	#4E9A06
URxvt.color10:	#8AE234
!!		yellow
URxvt.color3:	#C4A000
URxvt.color11:	#FCE94F
!!		blue
URxvt.color4:	#3465A4
URxvt.color12:	#729FCF
!!		magenta
URxvt.color5:	#75507B
URxvt.color13:	#AD7FA8
!!		cyan
URxvt.color6:	#06989A
URxvt.color14:	#34E2E2
!!		white
URxvt.color7:	#D3D7CF
URxvt.color15:	#EEEEEC
!!
URxvt.foreground: #AAAAAA
URxvt.background: #000000
URxvt.colorBD: #ffffff
URxvt.underlineColor: #75507B
!cursorColor:#e0e080
!!		scrollbar color
!scrollColor #010203
!!		the color of zone scrollbar get through
!throughColor: #8080f0
!highlightColor: #f0f0f0
!highlightTextColor: #000000

URxvt.iso14755: false

URxvt.keysym.Control-Shift-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

one_command_shell.geometry: 70x1
one_command_shell.borderless: false
!!mc_shell.font: xft:Gentium Basic:autohint=true:size=10

!!Xcursor.theme: default
Xcursor.theme: Adwaita
!!Xcursor.size: 32

!! Make C-; send the same keycode as C-u, which removes the line to the left
!!   of the cursor and copies it to the kill ring buffer. That way it fits
!!   better with the other bindings for kill ring.
!! It must be bound here, because C-; along with several other C- bindings
!!   cannot be bound in ~/.inputrc as a usual hotkey.
URxvt.keysym.Control-semicolon: \025
